<script setup lang="ts"></script>

<template lang="pug">
.min-h-screen.justify-center.flex.pt-6
  .mockup-code(class="w-3/5 h-96")
    pre(data-prefix='$')
      code sudo code > project
    pre.text-warning(data-prefix='>')
      code Artrinix is not in the sudoers file. This incident will be reported.
    pre.text-success(data-prefix='>')
      code Success, A developers day at Artrinix
</template>
