<script setup lang="ts"></script>

<template lang="pug">
.hero.min-h-screen
  .hero-content.text-center
    .max-w-md
      h1.text-5xl.font-bold Hello there!
      p.py-6 We're a small aspiring software and game development team taking on the world one line of code at a time.
      router-link.btn.btn-primary(to='/projects') Check out what we've done!
</template>
