<script setup lang="ts"></script>

<template lang="pug">
.flex.h-full
  .m-auto.text-center
    h4.text-3xl.text-black.dark_text-white Remind us to update this, for now the list in the navbar has everything
</template>
