<script setup lang="ts"></script>

<template lang="pug">
footer.footer.footer-center.p-10.bg-base-300.text-base-content.rounded
  .grid.grid-flow-col.gap-4
    router-link.link.link-hover(to="/about") About us
    router-link.link.link-hover(to="/contact") Contact
    router-link.link.link-hover(to="/contribution") Contribution
    router-link.link.link-hover(to="/press-kit") Press kit
  div
    p Copyright &copy; 2022 - All right reserved by Artrinix Studios
</template>
