<script setup lang="ts">
import router from "@/router";

const routes = router.options.routes;
</script>

<template lang="pug">
.navbar.mx-auto.z-10
  .navbar-start
    .dropdown
      label.btn.btn-ghost.lg_hidden(tabindex="0")
        svg.fill-gray-500.dark_fill-gray-300(xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 24 24" stroke="currentColor")
          path(stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h8m-8 6h16")
      ul.menu.menu-compact.dropdown-content.mt-3.p-2.shadow.bg-base-100.rounded-box.w-52
        div(v-for="(item) in router.options.routes")
          li(v-if="item.children" tabindex="=''")
            router-link.text-gray-500.dark_text-gray-300.text-sm.font-medium(:key="item" :to="item.path") {{ item.name }}
              svg.fill-gray-500.dark_fill-gray-300(xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewbox='0 0 24 24')
                path(d='M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z')
            ul.bg-base-100.p-2
              li(v-for="(child) in item.children")
                router-link.text-gray-500.dark_text-gray-300.text-sm.font-medium(:key="child" :to="child.path") {{ child.name }}
          li(v-else)
            router-link.text-gray-500.dark_text-gray-300.text-sm.font-medium(:key="item" :to="item.path") {{ item.name }}
    router-link.btn.btn-ghost.normal-case.text-xl(to="/")
      .flex-shrink-0
        img.h-10.w-10(src="@/assets/Artrinix.svg")
      a.text-gray.dark_text-white.px-3.py-2.text-md.font-medium ARTRINIX
  .navbar-center.hidden.lg_flex
  .navbar-end.hidden.lg_flex
    ul.menu.menu-horizontal.p-0(v-for="(item) in router.options.routes")
      li(v-if="item.children" tabindex="=''")
        router-link.text-gray-500.dark_text-gray-300.text-sm.font-medium(:key="item" :to="item.path") {{ item.name }}
          svg.fill-gray-500.dark_fill-gray-300(xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewbox='0 0 24 24')
            path(d='M7.41,8.58L12,13.17L16.59,8.58L18,10L12,16L6,10L7.41,8.58Z')
        ul.bg-base-100.p-2
          li(v-for="(child) in item.children")
            router-link.text-gray-500.dark_text-gray-300.text-sm.font-medium(:key="child" :to="child.path") {{ child.name }}
      li(v-else)
        router-link.text-gray-500.dark_text-gray-300.text-sm.font-medium(:key="item" :to="item.path") {{ item.name }}
</template>
