<template>
  <div :id="id"></div>
</template>

<script setup lang="ts">
import type { PropType } from "vue";
import { nextTick, onBeforeUnmount, onMounted, reactive } from "vue";
import { tsParticles } from "tsparticles-engine";
import type { Container, ISourceOptions, Engine } from "tsparticles-engine";

export type IParticlesProps = ISourceOptions;

const props = defineProps({
  id: {
    type: String,
    required: true,
  },
  options: {
    type: Object as PropType<IParticlesProps>,
  },
  url: {
    type: String,
  },
  particlesLoaded: {
    type: Function as PropType<(container: Container) => void>,
  },
  particlesInit: {
    type: Function as PropType<(engine: Engine) => void>,
  },
});

const { id, url, options, particlesLoaded, particlesInit } = reactive(props);
let particleContainer: Container | undefined;

onMounted(() => {
  nextTick(async () => {
    if (!id) {
      throw new Error("Prop 'id' is required!");
    }

    tsParticles.init();

    if (particlesInit) {
      await particlesInit(tsParticles);
    }

    const cb = (container?: Container) => {
      particleContainer = container;

      if (particlesLoaded && container) {
        particlesLoaded(container);
      }
    };

    const container = await (url
      ? tsParticles.loadJSON(id, url)
      : tsParticles.load(id, options ?? {}));

    cb(container);
  });
});

onBeforeUnmount(() => {
  if (particleContainer) {
    particleContainer.destroy();
  }
});
</script>
