<script setup lang="ts">
import { RouterView } from "vue-router";

import { loadFull } from "tsparticles";
import type { Container, ISourceOptions, Engine } from "tsparticles-engine";
import { useDark } from "@vueuse/core";
import { watch } from "vue";

import ParticleSystem from "@/components/ParticleSystem.vue";
import NavigationBar from "@/components/NavigationBar.vue";
import FooterBar from "./components/FooterBar.vue";

const isDark = useDark();

const particlesInit = async (engine: Engine) => {
  await loadFull(engine);

  watch(isDark, () => {
    engine.load("tsParticles", particleSettings(isDark.value));
  });
};

const particlesLoaded = async (container: Container) => {
  console.debug("Particles container loaded", container);
};

const particleSettings: (dark: boolean) => ISourceOptions = (
  dark: boolean
) => ({
  fpsLimit: 120,
  detectRetina: true,
  particles: {
    number: {
      value: 80,
      density: {
        enable: true,
        area: 800,
      },
    },
    color: {
      value: dark
        ? ["#8FBFE0", "#7C77B9", "#1D8A99", "#0BC9CD", "#14FFF7"] // https://coolors.co/8fbfe0-7c77b9-1d8a99-0bc9cd-14fff7
        : ["#023C40", "#C3979F", "#0AD3FF", "#78FFD6", "#E1FAF9"], // https://coolors.co/023c40-c3979f-0ad3ff-78ffd6-e1faf9
    },
    opacity: {
      value: { min: 0.1, max: 0.5 },
    },
    size: {
      value: { min: 1, max: 5 },
    },
    move: {
      enable: true,
      speed: 6,
      random: true,
    },
  },
  interactivity: {
    events: {
      onClick: {
        enable: true,
        mode: "push",
      },
      onHover: {
        enable: true,
        mode: "attract",
      },
      resize: true,
    },
    modes: {
      attract: {
        distance: 200,
        duration: 0.4,
        factor: 1,
        maxSpeed: 50,
        speed: 3,
      },
    },
  },
  background: {
    color: dark ? "#000000" : "#FFFFFF",
  },
});
</script>

<template lang="pug">
div.h-screen
  ParticleSystem(
    id="tsParticles"
    :particlesInit="particlesInit"
    :particlesLoaded="particlesLoaded"
    :options="particleSettings(isDark)"
  )
  NavigationBar

  RouterView.h-screen

  FooterBar
</template>

<style>
html {
  min-height: 100vh;
  transition: color 0.5s, background-color 0.5s;
}

#tsParticles {
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
  transition: color 0.1s, background-color 0.5s;
}
</style>
